<!DOCTYPE html><html xmlns:ng="http://angularjs.org" id="ng-app" class="ng-app:app ng-scope" ng-app="app"><head><!--[if IE 8]><style>.ng-hide {display: none !important;}</style><![endif]--><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><script type="text/javascript" defer="" async="" src="http://analytics.jiuzhilan.com/y.js"></script><script charset="utf-8" src="https://tag.baidu.com/vcard/v.js?siteid=8033946&amp;url=http%3A%2F%2Fwww.tianyancha.com%2Fcompany%2F2784216239&amp;source=&amp;rnd=1520583175&amp;hm=1"></script><script type="text/javascript" async="" defer="" src="//www.tianyancha.com/piwik/piwik.js"></script><script src="//hm.baidu.com/hm.js?e92c8d65d92d534b0fc290df538b4758"></script><script async="" src="http://qzs.qq.com/qzone/biz/res/gt.js"></script><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><title ng-bind-html="title ? title:'天眼查-人人都在用企业信息调查工具_企业信息查询_公司查询_工商查询_信用查询平台'" class="ng-binding">新美景塑胶（深圳）有限公司【信用信息_诉讼信息_财务信息_注册信息_电话地址】查询-天眼查</title><meta http-equiv="pragma" content="no-cache"><meta http-equiv="cache-control" content="no-cache"><meta http-equiv="expires" content="0"><meta name="description" content="天眼查新美景塑胶（深圳）有限公司信息查询频道，为您提供新美景塑胶（深圳）有限公司信用信息查询、新美景塑胶（深圳）有限公司诉讼财务信息查询、新美景塑胶（深圳）有限公司注册信息查询、新美景塑胶（深圳）有限公司电话地址查询等企业信息查询服务，了解更多新美景塑胶（深圳）有限公司信息，就到天眼查新美景塑胶（深圳）有限公司信息查询频道。"><meta name="keywords" content="新美景塑胶（深圳）有限公司信用信息查询,新美景塑胶（深圳）有限公司诉讼财务信息查询,新美景塑胶（深圳）有限公司注册信息查询,新美景塑胶（深圳）有限公司电话地址查询"><meta name="viewport" ng-attr-content="{{isPCClient?'noname':'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}}" charset="utf-8" content="noname"><meta name="fragment" content="!"><base href="/"><!--[if lt IE 9]>
    <script src="http://cache.tianyancha.com/js/update-browser.js"></script>
    <script type="text/javascript" src="//s.union.360.cn/117460.js" async defer></script>
    <![endif]--><link rel="stylesheet" href="http://static.tianyancha.com/wap/css/font-awesome.min.css"><link rel="stylesheet" href="http://static.tianyancha.com/wap/css/bootstrap.css"><link rel="stylesheet" href="http://static.tianyancha.com/wap/resources/styles/app-cf73e171be.css"><style type="text/css">[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-start {
            clip: rect(0, auto, auto, 0);
            -ms-zoom: 1.0001;
        }

        .ng-animate-active {
            clip: rect(-1px, auto, auto, 0);
            -ms-zoom: 1;
        }</style><!--[if lt IE 9]>
    <link rel="stylesheet" href="resources/css/ie8-style.scss">
    <script src="http://static.tianyancha.com/wap/js/respond.js"></script>
    <![endif]--><script type="text/javascript" defer="" async="" src="//analytics.jiuzhilan.com/codes/jiuzhilan_6835.js?2017425"></script><script>(function () {
            var method;
            var noop = function () {
            };
            var methods = [
                'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
                'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
                'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
                'timeline', 'timelineEnd', 'timeStamp', 'trace', 'warn'
            ];
            var length = methods.length;
            var console = (window.console = window.console || {});

            while (length--) {
                method = methods[length];

                // Only stub undefined methods.
                if (!console[method]) {
                    console[method] = noop;
                }
            }
            CacheStoarge = function CacheStoarge() {
                var _bb = [];
                return {
                    _tt: function (bbV, bbE, bbX) {
                        bbX ? _bb.push(bbX) : _bb[bbV].push(bbE);
                    },
                    _ff: function (ii) {
                        //console.log(_bb);
                        return _bb[ii];
                    }
                };
            };
            DOMImplementaiton = CacheStoarge();
        }());</script><script>var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        var myDate = new Date();
        date = myDate.getFullYear() + '' + myDate.getMonth() + '' + myDate.getDate();
        g.type = 'text/javascript';
        g.defer = true;
        g.async = true;
        g.src = "//analytics.jiuzhilan.com/codes/jiuzhilan_6835.js?" + date;
        s.parentNode.insertBefore(g, s);</script><!--<script type='text/javascript'>--><!--var _vds = _vds || [];--><!--window._vds = _vds;--><!--(function(){--><!--_vds.push(['setAccountId', '869c1f8ef123f88b']);--><!--(function() {--><!--var vds = document.createElement('script');--><!--vds.type='text/javascript';--><!--vds.async = true;--><!--vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';--><!--var s = document.getElementsByTagName('script')[0];--><!--s.parentNode.insertBefore(vds, s);--><!--})();--><!--})();--><!--</script>--></head><body ng-class="isFromMac ? '':'windows-modal'" style="" class="windows-modal"><!-- ngIf: show --><!-- ngView:  --><div id="ng-view" ng-view="" class="ng-scope" style=""><div style="width: 100%; height: 74px;background:#29376B url('http://static.tianyancha.com/wap/images/bg-left-v1.jpg') repeat-x;position: fixed; z-index: 1040;width: 100%; height: 74px;background:#29376B url('http://static.tianyancha.com/wap/images/bg-left-v1.jpg') repeat-x;position: fixed; z-index: 1040" class="company_input_v2 ng-isolate-scope" new-head="" search-enable="true" placeholder-str="'请输入企业名称、人名、品牌等关键词'" my-search-callback="mySearchCallback" position="false"><!--id="company_input_web"--><div class="container company_container"><div class="row" style="padding-left: 0;padding-right: 0; padding-top:0; padding-bottom: 0"><div style="padding-left: 0;padding-right: 0;height: 74px; position: relative" class="head-left"><div ng-click="backToHome();" class="header_back_to_home" style="margin-top: 19px"></div><div class="head-tab-outer" ng-hide="hideInput"><div class="head-tab-head c-white f12"><div class="in-block head-tab mr2 head-tab-c text-center point active" ng-click="changeSearchTab('company')" ng-class="{'active':showTab =='company'}"><div class="head-tab-top ng-isolate-scope" href-tyc-event="" tyc-event-name="human.search.tab.company">查公司</div></div><div class="in-block head-tab mr2 head-tab-h text-center point ng-isolate-scope" href-new-event="" event-name="导航-查老板" tyc-event-name="human.search.tab.boss" ng-click="changeSearchTab('human')" ng-class="{'active':showTab =='human'}"><div class="head-tab-top">查老板</div></div><div class="in-block head-tab head-tab-r text-center point ng-isolate-scope" href-new-event="" event-name="导航-查关系" ng-class="{'active':showTab =='relation'}" ng-click="jumpToPath()"><div class="head-tab-top">查关系</div></div></div><div class="head-tab-body head-tab-company" ng-class="{'head-tab-company':showTab == 'company','head-tab-human':showTab == 'human','head-tab-relation':showTab =='relation'}"><!-- ngIf: showTab =='company' --><div class="input-group search_group ng-scope" ng-if="showTab =='company'"><form ng-submit="stopSubmit($event,key);" autocomplete="off" action="" class="ng-valid ng-dirty ng-valid-parse"><input id="live-search" live-search="" type="search" class="search_input form-control search_form input search-input-v1 f14 ng-untouched ng-valid ng-isolate-scope ng-dirty ng-valid-parse" ng-model="key" ng-focus="pEvent('behaviour','searchFocus','');" placeholder="请输入企业名称、人名、产品名称或其它关键词 " style="border:none" live-search-callback="mySearchCallback" live-search-item-template="" live-search-select-click-callback="searchToCompany" live-search-select="name" live-search-select-attr="id" live-search-max-result-size="7" live-search-value="key" live-search-postion="position" live-search-enable="searchEnable" live-search-top="62"></form><img alt=" " ng-click="key=''; clearKey($event);" ng-show="key" src="http://static.tianyancha.com/wap/images/close.png" class="clearNew ng-hide" width="20px"><div class="input-group-addon input-search-v1" ng-click="search(key)"></div></div><!-- end ngIf: showTab =='company' --><!-- ngIf: showTab =='human' --></div></div></div><div style="padding-left: 0;padding-right: 0;/*background:#232D59 url('http://static.tianyancha.com/wap/images/bg-right.png') repeat-x;*/position: relative; height: 74px;cursor:pointer" class="head-right"><div class="right" style="padding-top: 22px"><div class="hover_title" ng-init="AppShow=false" ng-mouseleave="AppShow=false"><span ng-click="toVip();" href-new-event="" event-name="导航-APP" ng-mouseenter="AppShow=true" class="title1 ng-isolate-scope"><i class="fa fa-mobile fa-lg"></i>&nbsp;天眼查APP</span> <span class="line1">|</span><!-- ngIf: AppShow --></div><!--<div class="hover_title" style="" ng-init="mediaHover=false" ng-mouseleave="mediaHover=false">--><!--<a class="title1" href-new-event event-name="导航-媒体通道" href="/appfortrial" target="_blank" ng-mouseenter="mediaHover=true">--><!--&nbsp;<img class="media_icon"  ng-src="{{!mediaHover?'http://static.tianyancha.com/wap/images/media_icon.png':'http://static.tianyancha.com/wap/images/media_icon_h.png'}}" alt=""/>媒体通道--><!--</a>--><!--&nbsp;&nbsp;<span class="line1">|</span>&nbsp;--><!--</div>--><div class="hover_title media_title" ng-init="mediaHover=false" ng-mouseenter="mediaHover=true" ng-mouseleave="mediaHover=false" ng-class="{'media_title_h':mediaHover}"><div class="title1 in-block"><div class="media_port pl6 pr6"><img class="media_icon" ng-src="http://static.tianyancha.com/wap/images/media_icon.png" alt="" src="http://static.tianyancha.com/wap/images/media_icon.png"> <span class="pr7 no-mr">合作通道</span><i class="fa fa-caret-down" aria-hidden="true"></i><!-- ngIf: mediaHover --></div></div></div><div class="hover_title"><span class="line1">|</span> <a class="title1 ng-isolate-scope" href="/vipintro" target="_blank" href-event="" event-name="导航-会员服务">&nbsp;<i class="fa fa-diamond"></i> 会员服务 </a>&nbsp;&nbsp;<span class="line1">|</span></div><!-- ngIf: !islogged --><div class="hover_title ng-scope" ng-if="!islogged"><span class="title1 ng-isolate-scope" ng-click="loginLink()" href-new-event="" event-name="导航-登录">&nbsp;&nbsp;<i class="fa fa-user"></i> 登录</span></div><!-- end ngIf: !islogged --><!-- ngIf: islogged --></div></div></div></div></div><!-- 法律不予展示 --><!-- ngIf: notShowInLaw --><!-- ngIf: !notShowInLaw&&!errorMessagePage --><div ng-if="!notShowInLaw&amp;&amp;!errorMessagePage" class="ng-scope"><div style="width: 100%" class="company_top_fix top_container_new b-c-gray"><div class="container company_container"><div class="row position-rel" style="padding:0"><!--webtitleNew--><div class="position-rel mt10 mb10 new-border b-c-white pt20 pl30 pr30 pb13"><!-- ngIf: updateInfoError --><div class="companyTitleBox55"><div class="b-c-white new-border over-hide mr10 ie9Style" style="display: inline-flex;width: 100px;height: 100px"><img ng-src="http://img.tianyancha.com/logo/lll/b814e0fe9ca30218a480e2120971a78a.png@!watermark01" onerror="this.src='http://static.tianyancha.com/wap/images/logo327.png'" style="max-width:100px;max-height:100px;margin:auto" alt="公司图标" src="http://static.tianyancha.com/wap/images/logo327.png"></div><div class="company_header_width ie9Style"><div><span class="f18 in-block vertival-middle ng-binding">新美景塑胶（深圳）有限公司</span><!--曾用名--><!-- ngIf: company.historyNames --><!--信用报告--><div href-new-event="" event-name="信用报告" is-need-state="true" event-name2="信用报告-点击量-企业名称右侧" ng-click="downloadReport314(0)" class="downloadReportBtn f13 pt3 gradual-btn-bg in-block vertival-middle ml10 ng-isolate-scope"><div class="icon init float-left"></div><div class="init float-left f13">信用报告</div></div><!--上市信息--><!-- ngIf: company.bondType --><!--联系方式等--><div class="f14 new-c3 mt10" style="line-height: 26px"><div class="in-block vertical-top overflow-width mr20" style="width: 220px"><span>电话：</span> <span class="ng-binding">0755-27913213</span></div><div class="in-block vertical-top"><span class="in-block vertical-top">邮箱：</span> <span class="in-block vertical-top overflow-width emailWidth ng-binding">65965973@qq.com</span></div></div><div class="f14 new-c3" style="line-height: 26px"><div class="in-block vertical-top overflow-width mr20" style="width: 220px"><span>网址：</span> <span ng-hide="company.websiteList" class="">暂无</span> <!-- ngIf: company.websiteList --></div><div class="in-block vertical-top"><span class="in-block vertical-top">地址：</span> <span class="in-block overflow-width vertical-top emailWidth ng-binding">深圳市宝安区西乡街道乐群第一工业区26号</span></div></div></div></div><!--right--><div class="ie9Style" style="width: 245px"><!-- ngIf: !newNameObj --><div ng-if="!newNameObj" class="text-right base float-right in-block position-rel ng-scope"><div class="pt4 pb4 pl10 pr10 in-block vertical-top border-radio2 sendEmail2017 ng-isolate-scope" href-new-event="" event-name="企业详情-投诉" ng-click="sendEmail(company.name,companyId,'max');"><div class="point"><i class="fa fa-exclamation-triangle mr5"></i>我要投诉</div></div><div class="refesh in-block vertical-top" style="width: 114px"><a ng-init="focus = false;" ng-click="updateCompnyInfo()" href-new-event="" event-name="企业详情-数据更新" ng-class="{'cursor-pointer':updateBtnContent == '立即更新','cursor-not-allowed':updateBtnContent != '立即更新','update-info-btn-error':updateBtnContent == '最新信息','update-info-btn':updateBtnContent != '最新信息'}" ng-mouseover="focus = updateBtnContent == '立即更新'||updateBtnContent == '正在更新'?true:false" ng-mouseout="focus =updateBtnContent == '正在更新'?true: false" class="ng-isolate-scope cursor-pointer update-info-btn"><i ng-class="{'fa-spin':updateBtnContent == '正在更新'}" class="fa fa-refresh"></i> <span class="ng-binding">立即更新</span></a><!-- ngIf: company.updateTime --><div ng-if="company.updateTime" class="f12 c6 pt5 ng-scope" style=""><div class="float-left c5" style="margin-left: -1px">天眼查数据更新时间</div><div class="c8 ng-binding"><span class="in-block vertival-top mr5 mb4" style="background-color:#d5d5d5;width: 17px;height: 1px"></span> 2017.05.23 <span class="in-block vertival-top ml5 mb4" style="background-color:#d5d5d5;width: 17px;height: 1px"></span></div></div><!-- end ngIf: company.updateTime --></div></div><!-- end ngIf: !newNameObj --></div></div><div class="shareBox pt8 pb8 mt20 text-right"><div class="text-left in-block" style="width: 50%"><span class="in-block vertival-middle f12 new-c1">分享到：</span> <a href-new-event="" event-name="企业详情-分享" ng-href="http://connect.qq.com/widget/shareqq/index.html?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pics=http://static.tianyancha.com/wap/images/share_qrcode.png" class="icon_QQ iconNew in-block vertival-middle ng-isolate-scope" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pics=http://static.tianyancha.com/wap/images/share_qrcode.png"></a> <a href-new-event="" event-name="企业详情-分享" ng-href="http://service.weibo.com/share/share.php?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pic=http://static.tianyancha.com/wap/images/share_qrcode.png" class="icon_WB iconNew in-block vertival-middle ng-isolate-scope" target="_blank" href="http://service.weibo.com/share/share.php?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pic=http://static.tianyancha.com/wap/images/share_qrcode.png"></a> <a href-new-event="" event-name="企业详情-分享" ng-href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pics=http://static.tianyancha.com/wap/images/share_qrcode.png" class="icon_KJ iconNew in-block vertival-middle ng-isolate-scope" target="_blank" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http://www.tianyancha.com/company/2784216239&amp;title=%E5%A4%A9%E7%9C%BC%E6%9F%A5-%E5%85%A8%E5%9B%BD%E4%BC%81%E4%B8%9A%E4%BF%A1%E6%81%AF%E6%9F%A5%E8%AF%A2%E7%B3%BB%E7%BB%9F&amp;summary=%E6%96%B0%E7%BE%8E%E6%99%AF%E5%A1%91%E8%83%B6%EF%BC%88%E6%B7%B1%E5%9C%B3%EF%BC%89%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%E7%9A%84%E4%BF%A1%E6%81%AF%E5%B0%BD%E5%9C%A8%E6%8E%8C%E6%8F%A1%E3%80%82&amp;pics=http://static.tianyancha.com/wap/images/share_qrcode.png"></a> <a href-new-event="" event-name="企业详情-分享" ng-click="weixinPopup(company.id);" class="icon_WX iconNew point in-block vertival-middle ng-isolate-scope"></a></div><div class="f12 position-rel in-block text-right" style="width: 50%" ng-init="focus=false;listen=false"><div href-new-event="" event-name="关注" is-need-state="true" class="in-block mr4 position-rel point ng-binding ng-isolate-scope focusBtn" ng-click="focusCompany(1)" ng-class="focusStatus?'cancelFocusBtn':'focusBtn'"><i class="mr4 f14 icon-left fa fa-heart-o" ng-class="focusStatus?'fa fa-heart':'fa fa-heart-o'"></i> 关注<div class="trangle" ng-mouseover="focus=true" ng-mouseleave="focus=false"><i class="fa fa-question f10 c-white question"></i></div></div><!-- ngIf: focus --><div href-new-event="" event-name="监控" is-need-state="true" class="in-block position-rel point ng-binding ng-isolate-scope focusBtn" ng-click="focusCompany(2)" ng-class="listenStatus?'cancelFocusBtn':'focusBtn'"><i class="mr4 f14 icon-left fa fa-eye-slash" ng-class="listenStatus?'fa fa-eye':'fa fa-eye-slash'"></i> 监控<div class="trangle" ng-mouseover="listen=true" ng-mouseleave="listen=false"><i class="fa fa-question f10 c-white question"></i></div></div><!-- ngIf: listen --></div></div></div><!--webtitleNewEnd--><div class="col-9 company-main pl0 pr10 company_new_2017"><div style="min-height: 1000px; padding-bottom: 85px" class="b-c-white new-border position-rel"><div><div style="width: 100%" nav-web="" items="items2" header="navHeader" scroll-callback="scrollClickNav" class="ng-isolate-scope"><div class="companypage_2017"><div class="navigation new-border new-c3" ng-style="containerStyle" style="position: absolute; top: 0px; height: 49px; width: 958px;"><div class="over-hide"><!-- ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">企业背景 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-active">基本信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding ng-hide c9"></span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">企业关系 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding ng-hide c9">1</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">主要人员 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c9">2</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">股东信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c9">1</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">对外投资 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">变更记录 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c9">5</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">企业年报 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c9">2</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">分支机构 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">企业发展 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left nav-item-border" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">融资历史 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">核心团队 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">企业业务 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">投资事件 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">竞品信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">司法风险 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left nav-item-border" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">法律诉讼 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">法院公告 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">失信人 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">被执行人 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">经营风险 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left nav-item-border" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">经营异常 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">行政处罚 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">严重违法 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">股权出质 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">动产抵押 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">欠税公告 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">经营状况 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left nav-item-border" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">招投标 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">债券信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">购地信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">招聘 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-enable canClick">税务评级 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c9">1</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">抽查检查 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">产品信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">资质证书 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --><div ng-repeat="navBox in navNow  | orderBy:'sort' " ng-init="navItemLimit" class="float-left f14 text-center nav_item_Box ng-scope" ng-style="itemWidth" style="width: 159px;"><!-- ng-style="initHeaderPd"--><div class="new-c4 position-rel f16 pt12 pb12 new-cblue point headerHover ng-binding" style="border-bottom: 1px solid #e2e7e8" ng-class="{'nav-active':navBox.active}" ng-click="goToPage(navBox)">知识产权 <i class="fa fa-caret-down"></i></div><div ng-class="{'nav-item-border':!$first}" class="nav-item-p pt15 pl30 text-left nav-item-border" ng-style="navItemHeight" style="height: 250px;"><!-- ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">商标信息 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">专利 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">著作权 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --><div ng-class="initNavColor(temp.active,temp.num);" ng-click="goToPage(temp)" ng-repeat="temp in navBox.subItem | orderBy:'sort'" class="ng-binding ng-scope company-nav-item-disable">网站备案 <span ng-class="temp.num==0?'c5':'c9'" ng-hide="temp.numHide" class="ng-binding c5">0</span></div><!-- end ngRepeat: temp in navBox.subItem | orderBy:'sort' --></div></div><!-- end ngRepeat: navBox in navNow  | orderBy:'sort' --></div></div></div></div></div><div class="pl30 pr30 pt25"><!--上市信息--><!-- ngIf: stockCheckAll --><!--上市信息--><div class="company_title_box" id="nav-main-backgroundItem"><span class="chineseText">企业背景</span></div><!-- 基本信息 --><div><div id="nav-main-baseInfo" class="intro-head-g1 ng-binding">基本信息</div><div class="baseInfo_model2017"><table class="table companyInfo-table text-center f14"><thead><tr style="height: 40px"><td width="40%">法人代表</td><td width="20%">注册资本</td><td width="20%">注册时间</td><td width="20%">经营状态</td></tr></thead><tbody><tr style="height: 40px"><td><!-- ngIf: company.legalPersonName --><a href-new-event="" event-name="企业详情-法人" ng-style="company.type==2?{}:{width:'54px'}" class="in-block vertival-middle overflow-width f14 mr20 ng-binding ng-scope ng-isolate-scope" title="李锡景" ng-if="company.legalPersonName" target="_blank" href="/human/2318065209-c2784216239" style="width: 54px;">李锡景 </a><!-- end ngIf: company.legalPersonName --><span class="c1 ng-hide" ng-hide="company.legalPersonName">未公开</span><div ng-hide="(!company.legalPersonName)||company.type==2" class="point in-block new-border pl10 pr10 pt2 pb3 new-cblue f13 border-radio2 linkBtnClor"><a href-new-event="" event-name="人员详情" event-name2="人员详情-点击量-法人" is-need-state="true" class="new-c4 ng-isolate-scope" href="/human/2318065209-c2784216239" target="_blank">他的所有公司 &gt;</a></div></td><td><div title="(港币)500.0000万元" class="baseinfo-module-content-value ng-binding">(港币)500.0000万元</div></td><td><div title="2014-02-17" class="baseinfo-module-content-value ng-binding">2014-02-17</div></td><td><div title="存续" class="baseinfo-module-content-value ng-binding">存续</div></td></tr></tbody></table></div><div class="row b-c-white company-content base2017"><table width="100%" style="border:none"><tbody><tr><td class="basic-td" width="35%"><div class="c8">工商注册号：<span class="ng-binding">440306503474549</span></div></td><td class="basic-td" width="35%"><div class="c8">组织机构代码：<span class="ng-binding">08868838-X</span></div></td><td class="td-score position-rel" rowspan="4" width="30%"><img ng-alt="评分63" class="td-score-img" ng-src="http://static.tianyancha.com/wap/images/score_63.png" src="http://static.tianyancha.com/wap/images/score_63.png"><div class="f12" style="color:#d5d5d5">［ 以上评分结果仅供参考 ］</div></td></tr><tr><td class="basic-td"><div class="c8">统一信用代码：<span class="ng-binding"><span class="c8"></span>9144030008868838XT</span></div></td><td class="basic-td"><div class="c8">企业类型：<span class="ng-binding">有限责任公司（台港澳法人独资）</span><!-- {{::company.estiblishTime}} --></div></td></tr><tr><td class="basic-td"><div class="c8">行业：<span class="ng-binding">橡胶和塑料制品业</span></div></td><td class="basic-td"><div class="c8">营业期限： <!-- ngIf: company.fromTime --><span ng-if="company.fromTime" class="ng-binding ng-scope">2014-02-17至2064-02-17</span><!-- end ngIf: company.fromTime --> <!-- ngIf: !company.fromTime --></div></td></tr><tr><td class="basic-td"><div class="c8">核准日期： <span class="ng-binding">2016-09-22</span></div></td><td class="basic-td"><div class="c8">登记机关：<span class="ng-binding">深圳市市场监督管理局</span></div></td></tr><tr><!-- ngIf: company.businessScope.length>0 --><td class="basic-td ng-scope" colspan="3" ng-if="company.businessScope.length&gt;0"><div class="c8">注册地址：<span class="ng-binding">深圳市宝安区西乡街道乐群第一工业区26号</span></div></td><!-- end ngIf: company.businessScope.length>0 --></tr><tr><!-- ngIf: company.businessScope.length>0 --><td class="basic-td ng-scope" colspan="3" ng-if="company.businessScope.length&gt;0"><!--<div class="c8 align-justify break-word">经营范围：<span >{{::company.businessScope}}</span></div>--><div class="c8" style="line-height: 24px">经营范围： <span ng-init="showDetail = false;" style="word-break: break-all" content-folder="" content="company.businessScope" class="ng-isolate-scope"><!-- ngIf: !showDetail --><span ng-if="!showDetail" ng-bind-html="perContent|splitNum" class="ng-binding ng-scope">^生产经营五金塑胶制品、家庭用品、塑胶电子日用品、旅行袋、电子表。；</span><!-- end ngIf: !showDetail --> <!-- ngIf: showDetail --> <a ng-show="needFolder" ng-click="showDetail = btnOnClick(showDetail)" style="cursor: pointer" class="ng-binding ng-hide">详细</a> </span></div></td><!-- end ngIf: company.businessScope.length>0 --></tr></tbody></table></div></div><!-- end 基本信息 --><!-- graph --><div><!-- ngIf: showAllGraphBtn --><!-- ngIf: showGraph&&!showAllGraphBtn --><div id="nav-main-graphInfo" ng-if="showGraph&amp;&amp;!showAllGraphBtn" style="position: relative;" class="ng-scope"><div class="intro-head-g1 ng-binding" style="margin-bottom:10px">企业关系<img class="three-ponit" src="http://static.tianyancha.com/wap/images/three-point.png"></div><div class="showAllGraph" ng-init="graphHover=false;"><img ng-click="showAllGraph(true);" ng-mouseover="graphHover=true;" ng-mouseleave="graphHover=false;" ng-src="http://static.tianyancha.com/wap/images/graph_showall_h.png" src="http://static.tianyancha.com/wap/images/graph_showall_h.png"></div><iframe style="width:100%;height:500px;border:none" ng-src="http://dis.tianyancha.com/dis/old#/show?ids=2784216239&amp;cnz=true" src="http://dis.tianyancha.com/dis/old#/show?ids=2784216239&amp;cnz=true"></iframe></div><!-- end ngIf: showGraph&&!showAllGraphBtn --></div><!-- endgraph --><!--[高管信息]--><!-- ngIf: items2.staffCount.show&&dataItemCount.staffCount>0 --><div ng-if="items2.staffCount.show&amp;&amp;dataItemCount.staffCount&gt;0" class="ng-scope"><div id="nav-main-staffCount" class="intro-head-g1 ng-binding">主要人员 <img class="three-ponit" src="http://static.tianyancha.com/wap/images/three-point.png"> <span class="ng-binding">（2）</span></div><!-- ngIf: dataItemCount.staffCount>0 --><div ng-if="dataItemCount.staffCount&gt;0" class="over-hide ng-scope"><!-- ngRepeat: staff in getStaffGroupIndex(staffList.result) --><div ng-repeat="staff in getStaffGroupIndex(staffList.result) " class="staffinfo-module-container ng-scope" style=""><!-- ngRepeat: s in getStaffByGroupIndex(staffList.result,staff) --><div ng-repeat=" s in getStaffByGroupIndex(staffList.result,staff)" class="in-block float-left new-border mr10 mb3 ng-scope" style="width: 48%;height: 42px"><div class="in-block f14 new-c5 pt9 pl10 overflow-width vertival-middle" style="width: 50%;height: 40px;background-color: #f9f9f9;border-right: 1px solid #E2E7E8"><!-- ngRepeat: join in s.typeJoin track by $index --><!-- ngIf: s.typeJoin.length!=0 --><span ng-if="s.typeJoin.length!=0" ng-repeat="join in s.typeJoin track by $index" class="ng-binding ng-scope">监事</span><!-- end ngIf: s.typeJoin.length!=0 --><!-- end ngRepeat: join in s.typeJoin track by $index --> <!-- ngIf: s.typeJoin.length==0 --></div><a href-new-event="" event-name="企业详情-主要人员" class="overflow-width in-block vertival-middle pl15 mb4 ng-binding ng-isolate-scope" style="width: 60px" href="/human/1877064780-c2784216239" target="_blank">孔金梅</a><div class="in-block new-border pl10 pr10 pt2 pb3 new-cblue f13 border-radio2 vertival-middle mb4 linkBtnClor"><a href-new-event="" event-name="人员详情" event-name2="人员详情-点击量-主要人员" is-need-state="true" class="point new-c4 ng-isolate-scope" target="_blank" href="/human/1877064780-c2784216239">他的所有公司 &gt;</a></div></div><!-- end ngRepeat: s in getStaffByGroupIndex(staffList.result,staff) --><div ng-repeat=" s in getStaffByGroupIndex(staffList.result,staff)" class="in-block float-left new-border mr10 mb3 ng-scope" style="width: 48%;height: 42px"><div class="in-block f14 new-c5 pt9 pl10 overflow-width vertival-middle" style="width: 50%;height: 40px;background-color: #f9f9f9;border-right: 1px solid #E2E7E8"><!-- ngRepeat: join in s.typeJoin track by $index --><!-- ngIf: s.typeJoin.length!=0 --><span ng-if="s.typeJoin.length!=0" ng-repeat="join in s.typeJoin track by $index" class="ng-binding ng-scope">执行（常务）董事，</span><!-- end ngIf: s.typeJoin.length!=0 --><!-- end ngRepeat: join in s.typeJoin track by $index --><!-- ngIf: s.typeJoin.length!=0 --><span ng-if="s.typeJoin.length!=0" ng-repeat="join in s.typeJoin track by $index" class="ng-binding ng-scope">总经理</span><!-- end ngIf: s.typeJoin.length!=0 --><!-- end ngRepeat: join in s.typeJoin track by $index --> <!-- ngIf: s.typeJoin.length==0 --></div><a href-new-event="" event-name="企业详情-主要人员" class="overflow-width in-block vertival-middle pl15 mb4 ng-binding ng-isolate-scope" style="width: 60px" href="/human/2318065209-c2784216239" target="_blank">李锡景</a><div class="in-block new-border pl10 pr10 pt2 pb3 new-cblue f13 border-radio2 vertival-middle mb4 linkBtnClor"><a href-new-event="" event-name="人员详情" event-name2="人员详情-点击量-主要人员" is-need-state="true" class="point new-c4 ng-isolate-scope" target="_blank" href="/human/2318065209-c2784216239">他的所有公司 &gt;</a></div></div><!-- end ngRepeat: s in getStaffByGroupIndex(staffList.result,staff) --></div><!-- end ngRepeat: staff in getStaffGroupIndex(staffList.result) --><!-- ngIf: ceil(staffList.total/20)>1 --></div><!-- end ngIf: dataItemCount.staffCount>0 --><!-- ngIf: dataItemCount.staffCount<=0 --></div><!-- end ngIf: items2.staffCount.show&&dataItemCount.staffCount>0 --><!-- end [高管信息]--><!--[股东信息]--><!-- ngIf: items2.holderCount.show&&dataItemCount.holderCount>0 --><div ng-if="items2.holderCount.show&amp;&amp;dataItemCount.holderCount&gt;0" class="ng-scope" style=""><div id="nav-main-holderCount" class="intro-head-g1 ng-binding">股东信息 <img class="three-ponit" src="http://static.tianyancha.com/wap/images/three-point.png"> <span class="ng-binding">（1）</span><div href-new-event="" event-name="股东-股权结构图" is-need-state="true" ng-click="haveEquityPermissionById()" class="in-block vertival-middle holder_box pr20 linkBtnClor point ng-isolate-scope"><span class="in-block new-border pl10 pr10 pt2 pb3 new-c4 new-cblue f13 border-radio2">查看股权控制详情 &gt;</span></div></div><!-- ngIf: dataItemCount.holderCount>0 --><div ng-if="dataItemCount.holderCount&gt;0" class="ng-scope"><table class="table companyInfo-table"><thead><tr><th width="47%">股东</th><th width="20%">出资比例</th><th width="33%">认缴出资</th></tr></thead><tbody><!-- ngRepeat: node in investorList.result --><tr ng-repeat="node in investorList.result " class="ng-scope"><td><a href-new-event="" event-name="企业详情-股东企业" target="_blank" ng-style="node.type==2?{width: '100px'}:{}" href="/company/2995851652" class="in-block vertival-middle overflow-width ng-binding ng-isolate-scope" title="美景实业公司">美景实业公司</a><!-- ngIf: node.type==2 --></td><td><div><!-- ngRepeat: item in node.capital --><!-- ngIf: node.capital&&node.capital.length>0 --><div ng-if="node.capital&amp;&amp;node.capital.length&gt;0" ng-repeat="item in node.capital" class="ng-scope"><span class="c-money-y ng-binding">100%</span></div><!-- end ngIf: node.capital&&node.capital.length>0 --><!-- end ngRepeat: item in node.capital --><!-- ngIf: !(node.capital&&node.capital.length>0) --></div></td><td><!-- ngRepeat: item in node.capital --><!-- ngIf: node.capital&&node.capital.length>0 --><div ng-if="node.capital&amp;&amp;node.capital.length&gt;0" ng-repeat="item in node.capital" class="ng-scope"><span ng-class="item.amomon?'':'c-none'" class="ng-binding">(港币)500.0000万元</span> <!-- ngIf: item.time --></div><!-- end ngIf: node.capital&&node.capital.length>0 --><!-- end ngRepeat: item in node.capital --><!-- ngIf: !(node.capital&&node.capital.length>0) --></td></tr><!-- end ngRepeat: node in investorList.result --></tbody></table><!-- ngIf: ceil(investorList.total/20)>1 --></div><!-- end ngIf: dataItemCount.holderCount>0 --><!-- ngIf: dataItemCount.holderCount<=0 --></div><!-- end ngIf: items2.holderCount.show&&dataItemCount.holderCount>0 --><!-- end [股东信息]--><!--[对外投资]--><!-- ngIf: items2.inverstCount.show&&dataItemCount.inverstCount>0 --><!-- end [对外投资]--><!--变更信息oocss--><!-- ngIf: items2.changeCount.show&&dataItemCount.changeCount>0 --><div ng-if="items2.changeCount.show&amp;&amp;dataItemCount.changeCount&gt;0" class="ng-scope"><div id="nav-main-changeCount" class="intro-head-g1 ng-binding">变更记录 <span class="ng-binding">（5）</span></div><!-- ngIf: dataItemCount.changeCount>0 --><div ng-if="dataItemCount.changeCount&gt;0" class="ng-scope"><div><table class="table companyInfo-table"><thead><tr><th width="11%">变更时间</th><th width="10%">变更项目</th><th width="34%">变更前</th><th width="35%">变更后</th></tr></thead><tbody><!-- ngRepeat: change in changeinfoList.result --><tr ng-repeat="change in changeinfoList.result" class="ng-scope"><td><div class="ng-binding">2016-09-22</div></td><td><div class="ng-binding">一照一码升级</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentBefore"></div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentAfter"></div></td></tr><!-- end ngRepeat: change in changeinfoList.result --><tr ng-repeat="change in changeinfoList.result" class="ng-scope"><td><div class="ng-binding">2016-09-22</div></td><td><div class="ng-binding">一照一码换照</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentBefore"></div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentAfter"></div></td></tr><!-- end ngRepeat: change in changeinfoList.result --><tr ng-repeat="change in changeinfoList.result" class="ng-scope"><td><div class="ng-binding">2015-09-02</div></td><td><div class="ng-binding">章程</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentBefore"></div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentAfter"></div></td></tr><!-- end ngRepeat: change in changeinfoList.result --><tr ng-repeat="change in changeinfoList.result" class="ng-scope"><td><div class="ng-binding">2015-01-07</div></td><td><div class="ng-binding">实收资本</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentBefore">港币1<em>6</em>0.0000万元</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentAfter">港币<em>2</em>10.0000万元</div></td></tr><!-- end ngRepeat: change in changeinfoList.result --><tr ng-repeat="change in changeinfoList.result" class="ng-scope"><td><div class="ng-binding">2014-09-24</div></td><td><div class="ng-binding">实收资本</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentBefore">港币0.0000万元</div></td><td style="vertical-align: top;padding-top:20px;line-height:24px"><div class="textJustFy changeHoverText ng-binding" ng-bind-html="change.contentAfter">港币<em>16</em>0.0000万元</div></td></tr><!-- end ngRepeat: change in changeinfoList.result --></tbody></table></div><!-- ngIf: ceil(changeinfoList.total/5)>1 --></div><!-- end ngIf: dataItemCount.changeCount>0 --><!-- ngIf: dataItemCount.changeCount<=0 --></div><!-- end ngIf: items2.changeCount.show&&dataItemCount.changeCount>0 --><!-- end [变更信息]--><!--企业年报OOCSS--><!-- ngIf: items2.reportCount.show&&dataItemCount.reportCount>0 --><div ng-if="items2.reportCount.show&amp;&amp;dataItemCount.reportCount&gt;0" class="ng-scope"><div id="nav-main-reportCount" class="intro-head-g1 ng-binding">企业年报 <span class="ng-binding">（2）</span></div><!-- ngIf: dataItemCount.reportCount>0 --><div class="over-hide ng-scope" ng-if="dataItemCount.reportCount&gt;0"><!-- ngRepeat: report in tannuList track by $index --><div class="report_item_2017 float-left mr10 ng-scope" ng-repeat="report in tannuList track by $index" style=""><div class="pl17 pt17 ng-binding">2015年度报告</div><a href-new-event="" event-name="企业详情-企业年报" ng-href="/reportContent/2784216239/2015" style="display: block" target="_blank" class="detail_btn ml17 mt20 pt2 text-center f12 point ng-isolate-scope" href="/reportContent/2784216239/2015">查看详情&gt;&gt;</a></div><!-- end ngRepeat: report in tannuList track by $index --><div class="report_item_2017 float-left mr10 ng-scope" ng-repeat="report in tannuList track by $index"><div class="pl17 pt17 ng-binding">2014年度报告</div><a href-new-event="" event-name="企业详情-企业年报" ng-href="/reportContent/2784216239/2014" style="display: block" target="_blank" class="detail_btn ml17 mt20 pt2 text-center f12 point ng-isolate-scope" href="/reportContent/2784216239/2014">查看详情&gt;&gt;</a></div><!-- end ngRepeat: report in tannuList track by $index --></div><!-- end ngIf: dataItemCount.reportCount>0 --><!-- ngIf: dataItemCount.reportCount<=0 --></div><!-- end ngIf: items2.reportCount.show&&dataItemCount.reportCount>0 --><!-- end [企业年报]--><!--[分支机构]--><!-- ngIf: items2.branchCount.show&&dataItemCount.branchCount>0 --><!-- end [分支机构]--><!--=========企业发展=============--><!-- ngIf: items2.develope.show --><div id="nav-main-develope" ng-if="items2.develope.show" class="ng-scope"><div class="company_title_box"><span class="chineseText">企业发展</span></div><!-- ngIf: !(dataItemCount.companyRongzi>0||dataItemCount.companyTeammember>0||dataItemCount.companyProduct>0||dataItemCount.jigouTzanli>0||dataItemCount.companyJingpin>0) --><div class="nodata text-center mt20 pt20 pb20" style="background-color: #fbfbfb;background-color: #fbfbfb" ng-if="!(dataItemCount.companyRongzi&gt;0||dataItemCount.companyTeammember&gt;0||dataItemCount.companyProduct&gt;0||dataItemCount.jigouTzanli&gt;0||dataItemCount.companyJingpin&gt;0)" no-data=""><div class="nodata_img in-block vertival-middle"></div><div class="c6 in-block f16 ml10">暂无相关信息，看看该公司的其他信息</div></div><!-- end ngIf: !(dataItemCount.companyRongzi>0||dataItemCount.companyTeammember>0||dataItemCount.companyProduct>0||dataItemCount.jigouTzanli>0||dataItemCount.companyJingpin>0) --></div><!-- end ngIf: items2.develope.show --><!--融资历史--><!-- ngIf: items2.companyRongzi.show&&dataItemCount.companyRongzi>0 --><!--融资历史end--><!--核心团队--><!-- ngIf: items2.companyTeammember.show&&dataItemCount.companyTeammember>0 --><!--end 核心团队--><!--企业业务--><!-- ngIf: items2.companyProduct.show&&dataItemCount.companyProduct>0 --><!--end 企业业务--><!--投资事件--><!-- ngIf: items2.jigouTzanli.show&&dataItemCount.jigouTzanli>0 --><!--投资事件end--><!--竞品信息--><!-- ngIf: items2.companyJingpin.show&&dataItemCount.companyJingpin>0 --><!--end竞品信息--><!--=========企业发展=============--><!--=========司法风险=============--><!-- ngIf: items2.lawDangerous.show --><div id="nav-main-lawDangerous" ng-if="items2.lawDangerous.show" class="ng-scope"><div class="company_title_box"><span class="chineseText">司法风险</span></div><!-- ngIf: !(dataItemCount.lawsuitCount>0||dataItemCount.courtCount>0||dataItemCount.dishonest>0||dataItemCount.zhixing>0) --><div class="nodata text-center mt20 pt20 pb20" style="background-color: #fbfbfb;background-color: #fbfbfb" no-data="" ng-if="!(dataItemCount.lawsuitCount&gt;0||dataItemCount.courtCount&gt;0||dataItemCount.dishonest&gt;0||dataItemCount.zhixing&gt;0)"><div class="nodata_img in-block vertival-middle"></div><div class="c6 in-block f16 ml10">暂无相关信息，看看该公司的其他信息</div></div><!-- end ngIf: !(dataItemCount.lawsuitCount>0||dataItemCount.courtCount>0||dataItemCount.dishonest>0||dataItemCount.zhixing>0) --></div><!-- end ngIf: items2.lawDangerous.show --><!--法律诉讼oocss--><!-- ngIf: items2.lawsuitCount.show&&dataItemCount.lawsuitCount>0 --><!-- end [涉及诉讼]--><!-- 法院公告OOCSS --><!-- ngIf: items2.courtCount.show&&dataItemCount.courtCount>0 --><!-- end 法院公告 --><!--失信人oocss--><!-- ngIf: items2.dishonest.show&&dataItemCount.dishonest>0 --><!--end失信人--><!--被执行人--><!-- ngIf: items2.zhixing.show&&dataItemCount.zhixing>0 --><!--end被执行人--><!--=========司法风险=============--><!--=========经营风险=============--><!-- ngIf: items2.manageDangerous.show --><div id="nav-main-manageDangerous" ng-if="items2.manageDangerous.show" class="ng-scope"><div class="company_title_box"><span class="chineseText">经营风险</span></div><!-- ngIf: !(dataItemCount.abnormalCount>0||dataItemCount.punishment>0||dataItemCount.illegalCount>0||dataItemCount.equityCount>0||dataItemCount.mortgageCount>0||dataItemCount.ownTaxCount>0) --><div class="nodata text-center mt20 pt20 pb20" style="background-color: #fbfbfb;background-color: #fbfbfb" no-data="" ng-if="!(dataItemCount.abnormalCount&gt;0||dataItemCount.punishment&gt;0||dataItemCount.illegalCount&gt;0||dataItemCount.equityCount&gt;0||dataItemCount.mortgageCount&gt;0||dataItemCount.ownTaxCount&gt;0)"><div class="nodata_img in-block vertival-middle"></div><div class="c6 in-block f16 ml10">暂无相关信息，看看该公司的其他信息</div></div><!-- end ngIf: !(dataItemCount.abnormalCount>0||dataItemCount.punishment>0||dataItemCount.illegalCount>0||dataItemCount.equityCount>0||dataItemCount.mortgageCount>0||dataItemCount.ownTaxCount>0) --></div><!-- end ngIf: items2.manageDangerous.show --><!--[经营异常oocss]--><!-- ngIf: items2.abnormalCount.show&&dataItemCount.abnormalCount>0 --><!-- end [经营异常]--><!--行政处罚--><!-- ngIf: items2.punishment.show&&dataItemCount.punishment>0 --><!--end行政处罚--><!--严重违法--><!-- ngIf: items2.illegalCount.show&&dataItemCount.illegalCount>0 --><!--end严重违法--><!--股权出质--><!-- ngIf: items2.equityCount.show&&dataItemCount.equityCount>0 --><!--股权出质end--><!--动产抵押--><!-- ngIf: items2.mortgageCount.show&&dataItemCount.mortgageCount>0 --><!--end动产抵押--><!--欠税公告--><!-- ngIf: items2.ownTaxCount.show&&dataItemCount.ownTaxCount>0 --><!--end欠税公告--><!--=========经营风险=============--><!--=========经营状况=============--><!-- ngIf: items2.manageStatus.show --><div id="nav-main-manageStatus" ng-if="items2.manageStatus.show" class="ng-scope"><div class="company_title_box"><span class="chineseText">经营状况</span></div><!-- ngIf: !(dataItemCount.bidCount>0||dataItemCount.bondCount>0||dataItemCount.goudiCount>0||dataItemCount.recruitCount>0||dataItemCount.taxCreditCount>0||dataItemCount.checkCount>0||dataItemCount.productinfo>0||dataItemCount.qualification>0) --></div><!-- end ngIf: items2.manageStatus.show --><!-- 招投标oocss --><!-- ngIf: items2.bidCount.show&&dataItemCount.bidCount>0 --><!-- end 招标 --><!--债卷信息oocss--><!-- ngIf: items2.bondCount.show&&dataItemCount.bondCount>0 --><!--end债卷信息--><!--购地信息--><!-- ngIf: items2.goudiCount.show&&dataItemCount.goudiCount>0 --><!--购地信息end--><!--招聘信息oocss--><!-- ngIf: items2.recruitCount.show&&dataItemCount.recruitCount>0 --><!--end招聘信息--><!--税务评级--><!-- ngIf: items2.taxCreditCount.show&&dataItemCount.taxCreditCount>0 --><div ng-if="items2.taxCreditCount.show&amp;&amp;dataItemCount.taxCreditCount&gt;0" class="ng-scope"><div id="nav-main-taxCreditCount" class="intro-head-g1 ng-binding">税务评级 <span class="ng-binding">（1）</span></div><!-- ngIf: dataItemCount.taxCreditCount>0 --><div ng-if="dataItemCount.taxCreditCount&gt;0" class="ng-scope"><div><table class="table companyInfo-table"><thead><tr><th width="18%">年份</th><th width="15%">纳税评级</th><th width="10%">类型</th><th width="25%">纳税人识别号</th><th width="25%">评价单位</th></tr></thead><tbody><!-- ngRepeat: item in taxCreditList.items --><tr ng-repeat="item in taxCreditList.items" class="ng-scope" style=""><!-- <td>
                                                <span class="serial-num" >{{initCompanyIndex((taxCreditCurrentPage-1)*5+$index +1) }}</span>
                                            </td> --><td><span class="ng-binding">2015</span></td><td><span ng-class="{'c-none':!item.grade}" class="ng-binding">A</span></td><td><span ng-class="{'c-none':!item.type}" class="ng-binding">国税</span></td><td><span ng-class="{'c-none':!item.idNumber}" class="ng-binding">44030008868838X</span></td><td><span ng-class="{'c-none':!item.evalDepartment}" class="ng-binding">国家税务总局</span></td></tr><!-- end ngRepeat: item in taxCreditList.items --></tbody></table></div><!-- ngIf: ceil(taxCreditList.count/5)>1 --></div><!-- end ngIf: dataItemCount.taxCreditCount>0 --><!-- ngIf: dataItemCount.taxCreditCount<=0 --></div><!-- end ngIf: items2.taxCreditCount.show&&dataItemCount.taxCreditCount>0 --><!--end税务评级--><!--抽查检查--><!-- ngIf: items2.checkCount.show&&dataItemCount.checkCount>0 --><!--end抽查检查--><!--产品信息--><!-- ngIf: items2.productinfo.show&&dataItemCount.productinfo>0 --><!--end产品信息--><!--资质证书--><!-- ngIf: items2.qualification.show&&dataItemCount.qualification>0 --><!--end资质证书--><!--=========经营状况=============--><!--=========知识产权=============--><!-- ngIf: items2.knowledgeProperty.show --><div id="nav-main-knowledgeProperty" ng-if="items2.knowledgeProperty.show" class="ng-scope"><div class="company_title_box"><span class="chineseText">知识产权</span></div><!-- ngIf: !(dataItemCount.tmCount>0||dataItemCount.patentCount>0||dataItemCount.cpoyRCount>0||dataItemCount.icpCount>0) --><div class="nodata text-center mt20 pt20 pb20" style="background-color: #fbfbfb;background-color: #fbfbfb" no-data="" ng-if="!(dataItemCount.tmCount&gt;0||dataItemCount.patentCount&gt;0||dataItemCount.cpoyRCount&gt;0||dataItemCount.icpCount&gt;0)"><div class="nodata_img in-block vertival-middle"></div><div class="c6 in-block f16 ml10">暂无相关信息，看看该公司的其他信息</div></div><!-- end ngIf: !(dataItemCount.tmCount>0||dataItemCount.patentCount>0||dataItemCount.cpoyRCount>0||dataItemCount.icpCount>0) --></div><!-- end ngIf: items2.knowledgeProperty.show --><!-- 商标信息 --><!-- ngIf: items2.tmCount.show&&dataItemCount.tmCount>0 --><!-- end商标信息 --><!--专利信息oocss--><!-- ngIf: items2.patentCount.show&&dataItemCount.patentCount>0 --><!--end专利信息--><!--著作权--><!-- ngIf: items2.cpoyRCount.show&&dataItemCount.cpoyRCount>0 --><!--end著作权--><!-- 网站备案oocss --><!-- ngIf: items2.icpCount.show&&dataItemCount.icpCount>0 --><!-- end 网站备案 --><!--footer-loading--><!-- ngIf: loadItem --></div><!--=========知识产权=============--></div></div><!-- right --><div class="col-3 text-center" style="padding-left: 0;padding-right: 0"><div class="new-border b-c-white"><div class="new-cblue new-c4 f16 pt12 pb12 pl12 text-left" style="border-bottom: 1px solid #E2E7E8">信用报告</div><div class="point" ng-click="downloadReport314(5);"><div class="reportIconRight margin-auto mt20"></div><div href-new-event="" event-name="信用报告" event-name2="信用报告-点击量-右侧广告位" is-need-state="true" class="f16 c-white pl18 pr18 pt6 pb6 in-block mt22 mb25 point gradual-btn-bg ng-isolate-scope" style="background-color: #00C1D3">下载信用报告</div></div></div><div class="new-border b-c-white mb10 mt10"><div class="new-cblue new-c4 f16 pt12 pb12 pl12 text-left" style="border-bottom: 1px solid #E2E7E8">股权结构图</div><div ng-click="haveEquityPermissionById()" class="point"><div class="company_stock_box"><img onerror="this.src='http://static.tianyancha.com/wap/images/guanxi2017.jpg'" ng-src="http://static.tianyancha.com/equity/7dd37919aac09ef0f2a5371aa610f1f8.png" alt="" src="http://static.tianyancha.com/wap/images/guanxi2017.jpg"></div><div href-new-event="" event-name="股权结构图" is-need-state="true" class="f16 c-white pl18 pr18 pt6 pb6 in-block mt22 mb25 point gradual-btn-bg ng-isolate-scope" style="background-color: #00C1D3">立即查看</div></div></div><div hotsearch="" class="ng-isolate-scope"><!-- <div ng-init="hotSearch();" class="text-left hot-search">
                    <div><img src="http://static.tianyancha.com/wap/images/fire.png" style="margin:-3px 3px 0 0;"/>企业热搜榜</div>
                    <ul>
                        <li ng-repeat="l in regList|limitTo:5"  ng-class="$last?'':'border-c7-bottom'"><span class="list-circle" ></span> <a  ng-click="ToHotSearch(l.word);" ng-href="{{l.url?l.url:'/search/' + l.word}}"   style='color:#6d6d6d'><span >{{l.word}}</span></a></li>
                    </ul>
                </div> --></div><div class="banner position-relative" ab-test=""><!--<a ng-if="itemIndex==0" class="banner-item" ng-href="{{linkTo('applytrial')}}" target="_blank" ng-click="bEvent('applytrial','click')">--><!--<img src="http://static.tianyancha.com/wap/images/banner-1.png" alt="会计注册"/>--><!--</a>--><!--<a ng-if="itemIndex==1" class="banner-item" ng-click="bEvent('newAppDownload','click')" ng-href="{{linkTo('vip')}}" target="_blank">--><!--<img src="http://static.tianyancha.com/wap/images/banner-3.png" alt="app下载"/>--><!--</a>--><!--<div class="sub-item">--><!--<div ng-repeat="i in [1,2]" class="item" ng-class="itemIndex==$index?'itemlight':'itemDark'" ng-click="slide($index)"></div>--><!--</div>--><!--<a class="banner-item" href="http://www.tianyancha.com/vip" target="_blank" ng-click="bEvent('newAppDownload','click')">--><!--<img src="http://static.tianyancha.com/wap/images/report-bannerV5.png" alt="app下载"/>--><!--</a>--> <a href="/vipintro" href-event="" event-name="VIP广告" style="display: block" target="_blank" class="ng-isolate-scope"><img src="http://static.tianyancha.com/wap/images/banner-vipfree.jpg" alt="vip"> </a><a href="http://www.tianyancha.com/vip" href-event="" event-name="APP广告" target="_blank" style="display: block" class="mt10 ng-isolate-scope"><img src="http://static.tianyancha.com/wap/images/banner-app.jpg" alt="app下载"></a><div class="mt10"><img src="http://static.tianyancha.com/wap/images/banner-weixin.jpg" alt="微信"></div></div><!-- ngIf: showNearCom --><!-- ngIf: company.news.length>1 --><div style="background-color: white; border: 1px solid rgb(239, 239, 239); margin-top: 10px;" ng-if="company.news.length&gt;1" class="ng-scope"><div style="height:45px;padding-left:25px;padding-top:15px;text-align:left"><span style="font-size:18px;color:#828282">新闻<span style="color:white;background-color:#009bae;padding-left:3px;padding-right:3px;font-size:14px;margin-left:2px;margin-top:-2px;padding-top:1px;display:inline-block">动态</span></span></div><div ng-init="company.newsIndex = 0" style="padding-top:10px;padding-left:25px;text-align:left"><!-- ngRepeat: news in company.news|newsFilter:company.newsIndex --><div style="margin-bottom:8px" ng-repeat="news in company.news|newsFilter:company.newsIndex" class="ng-scope"><a href-new-event="" event-name="企业详情-新闻" class="company_item ng-binding ng-isolate-scope" title="魅力通川 迎八方客 展新美景" ng-href="http://travel.newssc.org/system/20170427/002167086.html" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 245px;display: inline-block" target="_blank" href="http://travel.newssc.org/system/20170427/002167086.html">魅力通川 迎八方客 展新美景</a><div style="margin-top: -3px" class="news_time"><div class="text-left" style="width:50%;display:inline-block"><span style="float:left;font-size:12px;color:#aaaaaa" class="baiduNews_time ng-binding">2017-4-27</span></div><div class="text-right" style="width:40%;display:inline-block"><span style="font-size:12px;color:#aaaaaa;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 105px" class="website c5 ng-binding">四川新闻网</span></div></div></div><!-- end ngRepeat: news in company.news|newsFilter:company.newsIndex --><div style="margin-bottom:8px" ng-repeat="news in company.news|newsFilter:company.newsIndex" class="ng-scope"><a href-new-event="" event-name="企业详情-新闻" class="company_item ng-binding ng-isolate-scope" title="“福州蓝”又添新美景 12处休闲步道“美美哒”（二）" ng-href="http://news.163.com/17/0121/11/CBA50VAM00014AEE_2.html" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 245px;display: inline-block" target="_blank" href="http://news.163.com/17/0121/11/CBA50VAM00014AEE_2.html">“福州蓝”又添新美景 12处休闲步道“美美哒”（二）</a><div style="margin-top: -3px" class="news_time"><div class="text-left" style="width:50%;display:inline-block"><span style="float:left;font-size:12px;color:#aaaaaa" class="baiduNews_time ng-binding">2017-1-21</span></div><div class="text-right" style="width:40%;display:inline-block"><span style="font-size:12px;color:#aaaaaa;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 105px" class="website c5 ng-binding">网易新闻</span></div></div></div><!-- end ngRepeat: news in company.news|newsFilter:company.newsIndex --><div style="margin-bottom:8px" ng-repeat="news in company.news|newsFilter:company.newsIndex" class="ng-scope"><a href-new-event="" event-name="企业详情-新闻" class="company_item ng-binding ng-isolate-scope" title="“福州蓝”又添新美景 12处休闲步道“美美哒”" ng-href="http://news.xinmin.cn/shehui/2017/01/21/30783112_2.html" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 245px;display: inline-block" target="_blank" href="http://news.xinmin.cn/shehui/2017/01/21/30783112_2.html">“福州蓝”又添新美景 12处休闲步道“美美哒”</a><div style="margin-top: -3px" class="news_time"><div class="text-left" style="width:50%;display:inline-block"><span style="float:left;font-size:12px;color:#aaaaaa" class="baiduNews_time ng-binding">2017-1-21</span></div><div class="text-right" style="width:40%;display:inline-block"><span style="font-size:12px;color:#aaaaaa;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 105px" class="website c5 ng-binding">新民网</span></div></div></div><!-- end ngRepeat: news in company.news|newsFilter:company.newsIndex --><div style="margin-bottom:8px" ng-repeat="news in company.news|newsFilter:company.newsIndex" class="ng-scope"><a href-new-event="" event-name="企业详情-新闻" class="company_item ng-binding ng-isolate-scope" title="新厅美景 随春至" ng-href="http://www.jhnews.com.cn/2017/0208/737863.shtml" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 245px;display: inline-block" target="_blank" href="http://www.jhnews.com.cn/2017/0208/737863.shtml">新厅美景 随春至</a><div style="margin-top: -3px" class="news_time"><div class="text-left" style="width:50%;display:inline-block"><span style="float:left;font-size:12px;color:#aaaaaa" class="baiduNews_time ng-binding">2017-2-8</span></div><div class="text-right" style="width:40%;display:inline-block"><span style="font-size:12px;color:#aaaaaa;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 105px" class="website c5 ng-binding">金华新闻网</span></div></div></div><!-- end ngRepeat: news in company.news|newsFilter:company.newsIndex --><div style="margin-bottom:8px" ng-repeat="news in company.news|newsFilter:company.newsIndex" class="ng-scope"><a href-new-event="" event-name="企业详情-新闻" class="company_item ng-binding ng-isolate-scope" title="美翻了！市一中校友吴志峰手绘市一中新校美景" ng-href="http://sd.dzwww.com/sdnews/201701/t20170104_15381657.htm" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 245px;display: inline-block" target="_blank" href="http://sd.dzwww.com/sdnews/201701/t20170104_15381657.htm">美翻了！市一中校友吴志峰手绘市一中新校美景</a><div style="margin-top: -3px" class="news_time"><div class="text-left" style="width:50%;display:inline-block"><span style="float:left;font-size:12px;color:#aaaaaa" class="baiduNews_time ng-binding">2017-1-4</span></div><div class="text-right" style="width:40%;display:inline-block"><span style="font-size:12px;color:#aaaaaa;display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 105px" class="website c5 ng-binding">大众网</span></div></div></div><!-- end ngRepeat: news in company.news|newsFilter:company.newsIndex --></div><div style="color: #aaaaaa;  margin-top: 5px; padding-bottom: 20px"><div class="company_news_page_btn left_btn_has_not_next" ng-click="newsGoLast();" ng-class="{'left_btn_has_next':company.newsIndex != 0,'left_btn_has_not_next':company.newsIndex == 0}"></div><div class="company_news_page_btn right_btn_has_next" ng-click="newsGoNext();" ng-class="{'right_btn_has_next':company.newsIndex != company.newsTotalPage,'right_btn_has_not_next':company.newsIndex == company.newsTotalPage}"></div><!-- <i class="fa fa-angle-left " ng-class="{'page_has_next':company.newsIndex != 0,'page_has_not_next':company.newsIndex == 0}" ng-click="newsGoLast();"></i>
                            <i class="fa fa-angle-right " ng-class="{'page_has_next':company.newsIndex != company.newsTotalPage,'page_has_not_next':company.newsIndex == company.newsTotalPage}" style="margin-left: 60px;" ng-click="newsGoNext();"></i> --></div></div><!-- end ngIf: company.news.length>1 --><!-- 新闻公告 --></div><!-- end right --><div class="backToTop backTopPc backTopPcNew point" back-top=""><div class="backtop_zd" ng-click="backToTop()"></div><div class="backtop_fk" ng-click="fankui();"></div><div class="backtop_wx" ng-init="showEwm = false" ng-mouseover="showEwm = true" ng-mouseleave="showEwm = false"></div><!-- ngIf: showEwm --></div></div></div></div></div><!-- end ngIf: !notShowInLaw&&!errorMessagePage --><!-- ngIf: errorMessagePage --><div class="new-foot-v1 position-rel ng-isolate-scope" style="background:transparent url('http://static.tianyancha.com/wap/images/bg-foot-01.png') repeat-x;height: 345px;width:100%;color:#fff;background:transparent url('http://static.tianyancha.com/wap/images/bg-foot-01.png') repeat-x;height: 345px;width:100%;color:#fff" new-foot=""><div class="mainv2_tab_new" style="width:100%;background:transparent;padding-top:50px;opacity:0.8;filter:alpha(opacity=80)"><div class="container company_container" style="padding:0 0 0 0px"><div style="padding-left:0;padding-right:0;padding-bottom:0px"><div class="col-9" style="padding-left:0;padding-right:0"><div class="foot1" style="border-right: 1px solid rgba(255,255,255,0.4)"><div class="footer_images footer_images_logo"></div><div class="text" style="padding-bottom:0px;padding-top: 14px"><div style="padding-bottom:6px"><a href="http://www.tianyancha.com/property/1" style="padding-right:26px" class="c-white" target="_blank">关于我们</a> <a href="http://www.tianyancha.com/property/3" class="c-white" target="_blank">版权声明</a></div><div style="padding-bottom:6px"><a href="http://www.tianyancha.com/property/2" style="padding-right:26px" class="c-white" target="_blank">服务协议</a> <a href="http://www.tianyancha.com/property/4" class="c-white" target="_blank">免责声明</a></div><div><a href="/property/5" style="padding-right:26px" class="c-white" target="_blank">权利通知</a> <a href="http://open.tianyancha.com" style="padding-right:26px" class="c-white" target="_blank">数据服务</a></div></div></div><div class="foot2"><div class="text"><span class="c-white" style="margin-top: 12px">联系我们</span> <span class="c-white"><i class="fa fa-phone"></i>电话 : 400-871-6266 [工作日: 9:00-18:30 ]</span> <span class="c-white"><i class="fa fa-user"></i>在线客服 : 2852375336</span> <span class="c-white"><i class="fa fa-envelope"></i>商务合作 : bd@tianyancha.com</span></div></div><div class="foot3" style="border-right:none"><a class="c-white footer_images footer_images_complaint" ng-click="openComplaint()" style="cursor:pointer;margin-bottom:15px;margin-top:0px"><div></div>投诉</a> <a class="c-white footer_images footer_images_wapqq" href="http://q.url.cn/s/tWKXe2m?_type=wpa" target="_blank" style="margin-bottom:15px;margin-top:0px"><div></div>在线咨询</a> <a class="c-white footer_images footer_images_weibo" href="http://weibo.com/tianyancha" target="_blank" style="margin-bottom:5px"><div></div>新浪微博</a><!-- <a href="http://wpa.qq.com/msgrd?v=3&uin=2473214602&site=qq&menu=yes" target="_blank"><img src="http://static.tianyancha.com/wap/images/qq_n.png">在线咨询</a>
                        <a href="http://weibo.com/tianyancha" target="_blank" ><img src="http://static.tianyancha.com/wap/images/xl_n.png">新浪微博</a>--></div><div class="foot4" style="border-left: 1px solid rgba(255,255,255,0.4)"><div class="c-white">数据来源</div><div class="c-white"><span></span>全国企业信用信息公示系统</div><div class="c-white"><span></span>中国裁判文书网</div><div class="c-white"><span></span>中国执行信息公开网</div></div><div class="foot5"><div class="c-white"><span></span>国家知识产权局</div><div class="c-white"><span></span>商标局</div><div class="c-white"><span></span>版权局</div></div></div><div class="col-3"><div class="text-right"><div class="right_item text-center" style="margin-right:34px"><div style="color:#fff">微信公众号</div><img src="http://static.tianyancha.com/wap/images/wechat_foot.png"></div><div class="right_item text-center"><div style="color:#fff">天眼查APP</div><img src="http://static.tianyancha.com/wap/images/footer_download.png" style="width: 84px"></div></div></div></div></div><div class="company_container friend_link f12 mt60 pt15" style="border-top:1px solid rgba(255,255,255,0.4)"><span>友情链接：</span> <a href="http://www.baike.com/" target="_blank" class="c-white">互动百科</a></div></div><div class="position-abs company_container margin-auto over-hide f12" style="background:transparent;opacity:0.8;filter:alpha(opacity=80);left: 0;right: 0;bottom: 18px;color: #405e97"><span>版权所有：北京金堤科技有限公司</span> <span>©2015 JINDIDATA 京ICP备14061319</span> <span class="float-right"><div class="footer_images footer_images_beian"></div><span>京公网安备 11010802021795号</span></span></div></div></div><div ng-controller="bannerCtrl" class="ng-scope"><!-- ngIf: isPCClient --><div ng-if="isPCClient" class="bottom-banner ng-scope"><!-- ngIf: showBanner --><div class="bottom-banner-body2 ng-scope" ng-if="showBanner"><div style="position: absolute;top: 0;bottom: 0"><img src="http://static.tianyancha.com/wap/images/left_bg2017.png" alt=""></div><div class="bottom-banner-box2 company_container"><img class="gt_global" height="70px" src="http://static.tianyancha.com/wap/images/banner_title20172.png?_v=687977737780-7669-7769-7884-657384797832"><div class="code_box"><img class="gt_global" src="http://static.tianyancha.com/wap/images/banner_download.png?_v=613267656772-6983-8479-6582-716940415932" width="102px"></div><img class="close" src="http://static.tianyancha.com/wap/images/banner_06.png?_v=613267656772-6983-8479-6582-716940415932" ng-click="ctrlBanner(false);"> <img class="describe" height="70px" style="opacity: 0" src="http://static.tianyancha.com/wap/images/hintV3.png?_v=613267656772-6983-8479-6582-716940415932"> <img src="http://static.tianyancha.com/wap/images/right_bg2017.png" style="position: absolute;right: 16px" alt=""></div></div><!-- end ngIf: showBanner --><!-- ngIf: isPCClient --><img class="bottom-banner-min ng-scope ng-hide" style="z-index:200" ng-if="isPCClient" ng-show="!showBanner" alt="app下载" src="http://static.tianyancha.com/wap/images/left_banner2017.png" ng-click="ctrlBanner(true);"><!-- end ngIf: isPCClient --></div><!-- end ngIf: isPCClient --><div ng-show="(!isPCClient&amp;&amp;!isTYCClient&amp;&amp;!isWebAppClient)&amp;&amp;!showBdBanner" class="ng-hide"><div ng-show="!showBannerMobile" style="position: fixed;left: 0;bottom:90px;z-index: 400" ng-click="closeClick(showBannerMobile);" class="ng-hide"><img style="width: 40px" src="http://static.tianyancha.com/wap/images/mainV2_left2.png" alt="下载天眼查专业版APP"></div><div class="bottom-banner-mobile" ng-show="showBannerMobile"><!--banner_wapV6--> <img style="display:none" class="logo download_global" alt="下载天眼查专业版APP" ng-click="appDownload();bEvent('wapDownload','click');" src="http://static.tianyancha.com/wap/images/ny_wap_banner.png?_v=7d49moi5kqncs6bjyxlav3tuh-rz207gp8f1we"> <img ng-click="appDownload();" class="download_global ml10" style="max-height: 90%;max-width: 80%" alt="下载天眼查专业版APP" src="http://static.tianyancha.com/wap/images/WAP_banner2017.png?_v=87-gx65nuqzwtm0hoypifks9lr12v4e8cbadj3"> <span style="display: none"><div ng-click="appDownload();"><img class="download_global" src="http://static.tianyancha.com/wap/images/mainV2_download.png?_v=91t8zofl52yq9pgrxesd4nbuamchj3vi0-w7k6" alt="下载天眼查专业版BtnAPP"></div></span><img class="close" src="http://static.tianyancha.com/wap/images/wap_delete_nav.png" ng-click="closeClick(showBannerMobile);" alt="关闭"></div></div><div ng-show="(!isPCClient&amp;&amp;!isTYCClient&amp;&amp;!isWebAppClient)&amp;&amp;showBdBanner" class="position-fixed ng-hide" style="bottom:0;width: 100%;z-index: 40000"><div ng-show="!showBannerMobile" style="position: fixed;left: 0;bottom:90px;z-index: 400" ng-click="closeClick(showBannerMobile);" class="ng-hide"><img style="width: 40px" src="http://static.tianyancha.com/wap/images/mainV2_left2.png" alt="下载天眼查专业版APP"></div><div ng-show="showBannerMobile" class=""><div ng-click="appDownloadBd()" style="display: block"><img style="width: 100%" src="http://static.tianyancha.com/wap/images/smsBanner1.png" alt="下载app"></div><img src="http://static.tianyancha.com/wap/images/banner_06.png" alt="close" ng-click="closeClick(showBannerMobile);" style="position: absolute;
            top: 10px;
            left: 10px;
            width: 15px"></div></div></div><script>var gdt_tracker = gdt_tracker || [];
    gdt_tracker.push(["set_source_id", "33937"]);
    (function () {
        var userAgent = navigator.userAgent;
        if (userAgent.indexOf('ignore') < 0) {
            var doc = document, h = doc.getElementsByTagName("head")[0], s = doc.createElement("script");
            s.async = true;
            s.src = "http://qzs.qq.com/qzone/biz/res/gt.js";
            h && h.insertBefore(s, h.firstChild)
        }
    })();</script><script>var _hmt = _hmt || [];
    (function () {
        var userAgent = navigator.userAgent;
        if (userAgent.indexOf('ignore') < 0) {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e92c8d65d92d534b0fc290df538b4758";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    })();</script><!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9c350b9e33b321dffebc9cc49db07828";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script> --><!-- Piwik --><script type="text/javascript">var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking', true]);
    (function () {
        var u = "//www.tianyancha.com/piwik/";
        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';
        s.parentNode.insertBefore(g, s);
    })();</script><noscript>&lt;p&gt;&lt;img src="//www.tianyancha.com/piwik/piwik.php?idsite=1" style=border:0 alt=""&gt;&lt;/p&gt;</noscript><script src="http://static.tianyancha.com/wap/resources/scripts/app-be16594a2d.js"></script><ul id="autoComplateList1495712309218" ng-show="visible" ng-class="{&quot;bdcolor&quot;:visible}" style="position: fixed; top: 62px; left: 172px; width: 466px;" ng-style="{'top':top,'left':left,'width':width}" class="searchresultspopup ng-scope ng-hide"><!-- ngRepeat: result in results --></ul></body></html>